body
{
  background: #8892BF;
  color: #fff;

  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
}

.top-bar .main-logo
{
  font-family: "Roboto" !important;
  font-style: italic !important;
}

.top-bar .main-logo span.upper
{
  font-weight: 900 !important;
  font-size: 18pt !important;
  height: 18pt;
}

.top-bar .main-logo span.lower
{
  font-weight: 100 !important;
  font-size: 10pt !important;
  height: 18pt;
  line-height: 2.5;
  margin-left: 8px;
}

.top-bar
{
  background-color: #8892BF !important;
  border-bottom-color: rgb(79, 91, 147) !important;
  border-width: 2px;
}

.top-bar .menu .item
{
  font-family: "Roboto";
  color: #ddd !important;
}

.top-bar .menu .item:not(.main-logo)
{
  font-weight: 100;
}

.top-bar .menu .item:not(.active):hover
{
  color: #fff !important;
  border-bottom-color: white !important;
}

.top-bar .menu .item.active
{
  background-color: #333 !important;
  border-left: 2px solid rgb(79, 91, 147) !important;
  border-right: 2px solid rgb(79, 91, 147) !important;
  border-top: 2px solid rgb(79, 91, 147) !important;
  border-bottom-color: #333 !important;
}

.general-content
{
  padding-top: 62px !important;
  min-height: 600px;
  background-color: #333;
  font-weight: 400 !important;
}

.general-content .breadcrumb
{
  background-color: transparent !important;
  color: white !important;
  margin-bottom: 2em !important;
}

.general-content .breadcrumb i.divider
{
  color: #eee !important;
}

.general-content .breadcrumb a
{
  color: #8892BF !important;
}

.general-content .content-column
{
  background-color: white !important;
  color: black !important;
}

.general-content .widget-column
{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.general-content .widget-column .widget
{
  background-color: rgba(255, 255, 255,.85) !important;
  color: black !important;

  padding: 1em;
}

.general-content .widget-column .widget:not(:first-child),
.general-content .widget-column .embedded-widget:not(:first-child)
{
  margin-top: .5em;
}

.general-content .widget-column .widget,
.general-content .widget-column .embedded-widget
{
  border-top: 1px solid #8892BF !important;
}

.general-content .widget-column .embedded-widget
{
  color: white !important;
  padding: 1em;
  border-top: 1px solid white;
  background-color: rgba(255,255,255,.2);
}

.general-content .widget-column .embedded-widget *
{
  color: white !important;
}

.general-content .content-column .content
{
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: justify !important;
}

footer
{
  color: black !important;
}

a
{
  color: rgb(79, 91, 147) !important;
}

a:hover
{
  text-decoration: underline;
}

.highlight pre code {
  overflow: visible !important;
}

.spaced
{
  margin-bottom: .6em !important;
}

.full-sized
{
  width: 100%;
}
