<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>world-wide PHP Facebook Group</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic,200,200italic,100,100italic" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">
    <link rel="stylesheet" href="/assets/page.css">

    <script src="/assets/components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/assets/polymers/markdown.html">
  </head>
  <body>
    <div class="ui secondary pointing top fixed menu top-bar">
      <div class="ui container">
        <div class="item main-logo">
          <span class="upper">&lt;?<span style="color:#555 !important">ww</span>php</span>
          <span class="lower"> knowledge shared properly</span>
        </div>

        <div class="right menu">
          <a class="item{% if page.origin == 'main' %} active{% endif %}" href="/">
            <i class="home icon" style="margin-right: 0 !important"></i>
          </a>
          <a class="item{% if page.origin == 'staff' %} active{% endif %}" href="/staff.html">
            <i class="users icon" style="margin-right: 0 !important"></i>
          </a>
          <a class="item{% if page.origin == 'rules' %} active{% endif %}" href="/rules.html">
            Code of Conduct
          </a>
          <a class="item{% if page.origin == 'article' %} active{% endif %}" href="/articles">
            Knowledge Base
          </a>
          <a class="item{% if page.origin == 'faq' %} active{% endif %}" href="/faq">
            FAQ
          </a>
          <a class="item{% if page.origin == 'best-practice' %} active{% endif %}" href="/best-practice">
            Best Practices
          </a>
          <a class="ui item{% if page.origin == 'php-guide' %} active{% endif %}" href="/php-guide">
            Getting started
          </a>
        </div>
      </div>
    </div>

    <div class="general-content">
      <div class="ui container">
        {% if page.origin != 'main' %}
          <div class="ui breadcrumb">
            <a class="section" href="/">wwphp</a>
            {% if 'faq' contains page.origin %}
            <i class="right chevron icon divider"></i>
            <a class="section" href="/{{ page.origin }}">{{ page.origin }}</a>
            {% if page.group and page.origin == 'faq' %}
            <i class="right chevron icon divider"></i>
            <a class="section" href="/faq/#{{ page.group }}">{{ page.group }}</a>
            {% endif %}
            {% endif %}
            <i class="right chevron icon divider"></i>
            <span class="section">{{ page.title }}</span>
          </div>
        {% endif %}
        {{ content }}
      </div>
    </div>
    <footer class="ui container" style="margin-top: 1em !important; font-weight: 100; color: black; min-height: 60px !important">
        <p>
          &copy; 2012-{{ 'now' | date: "%Y" }} Team Awesome of the international PHP Facebook Group<br />
          &copy; 2001-{{ 'now' | date: "%Y" }} PHP is a registrated trademark of <a href="http://php.net">The PHP Group</a>.
        </p>
    </footer>
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    <script>
      $("table:not([class])").addClass('ui table');
      $("ul:not([class])").addClass('ui list');
      $('img:not([class])').addClass('ui fluid image');

      $('.ui.accordion').accordion({exclusive: false});
    </script>
  </body>
</html>
