<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>world-wide PHP Facebook Group</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,400italic,100,100italic" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">

    <link rel="stylesheet" href="/assets/page.css">
  </head>
  <body>
    <div class="ui secondary pointing top fixed menu top-bar">
      <div class="ui container">
        <div class="item main-logo">
          <span class="upper"><span style="color:#555 !important">ww</span>php</span>
          <span class="lower"> knowledge shared properly</span>
        </div>

        <div class="right menu">
          <a class="item{% if page.origin == 'main' %} active{% endif %}" href="/articles">
            <i class="home icon" style="margin-right: 0 !important"></i>
          </a>
          <a class="item" href="/articles">
            Knowledge Base
          </a>
          <a class="item" href="/faq">
            FAQ
          </a>
          <a class="item" href="/best-practice">
            Best Practices
          </a>
          <a class="item" href="/php-guide">
            Getting started
          </a>
        </div>
      </div>
    </div>

    <div class="general-content">
      <div class="ui container">

      </div>
    </div>
    <div class="ui container">
      <footer style="margin-top: 1em; font-weight: 100; color: black">
        &copy; 2015 Team Awesome of the international PHP Facebook Group
      </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  </body>
</html>
